[submodule "orchestrator"]
	path = orchestrator
	url = ./orchestrator
[submodule "agent"]
	path = agent
	url = ./agent
[submodule "browser"]
	path = browser
	url = ./browser
[submodule "humanoid-backend"]
	path = humanoid-backend
	url = https://github.com/BladonGarlanddev/humanoid-backend
